<form class="example-form"><br>
    <h1 class="text-center">Project Information</h1>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Project Title</mat-label>
                    <input matInput  [(ngModel)]="projectInformationData.projectTitle" name="projectTitle" placeholder="Title">
                </mat-form-field>
            </td>   
            <td>
                <!-- <mat-form-field class="example-full-width">
                    <mat-label>Type of Project </mat-label>
                    <mat-select placeholder="Select" class="example-full-width">
                        <mat-option >Medical</mat-option>
                        <mat-option >Textile</mat-option>
                        <mat-option >Analytical</mat-option>
                        <mat-option >Others</mat-option>
                   </mat-select>
               </mat-form-field>-->
               <mat-form-field class="example-full-width"> 
                <mat-label>Project Category</mat-label>
                <mat-select [(ngModel)]="projectInformationData.projectCategory" name="projectCategory" placeholder="Select" class="example-full-width">
                  <mat-option value="Basic Research">Basic Research</mat-option>
                  <mat-option value="Applied Research">Applied Research</mat-option>
                  <mat-option value="Technology Development">Technology Development</mat-option>
                  <mat-option value="Other">Other </mat-option>
                </mat-select>
              </mat-form-field>
            </td> 
        </tr> 

        <tr>
            <td> 
                <mat-form-field class="example-full-width">
                    <textarea [(ngModel)]="projectInformationData.projectDescription" matInput name="projectDescription" placeholder="Project Description"></textarea>
                </mat-form-field>
            </td> 
            <td>
                <mat-label>Project Submission Type</mat-label>
                <mat-radio-group [(ngModel)]="projectInformationData.projectSubmsnType" name="projectSubmsnType" class="example-full-width">
                    <mat-radio-button value="New Proposal">New Proposal</mat-radio-button>
                    <mat-radio-button value="Supplement">Supplement</mat-radio-button>
                    <mat-radio-button value="Continuaton">Continuaton</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>

        <tr>     
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Project Duration</mat-label>
                    <input matInput [(ngModel)]="projectInformationData.projectDuration" name="projectDuration" placeholder="Duration in months">
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Amount Requested</mat-label>
                    <input matInput [(ngModel)]="projectInformationData.amountRequested" name="amountRequested" placeholder="Amount in R.s">
                  </mat-form-field>
            </td>
        </tr>

        <tr>    
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" [(ngModel)]="projectInformationData.timeline.start_date" name="start_date" placeholder="Proposed Project Start Date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field  class="example-full-width">
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="projectInformationData.timeline.end_date"  name="end_date" placeholder="Proposed Project End Date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix  [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
            </td>
        </tr>
    </table>
</form>

<div class="container text-center">
    <button class="button-row" mat-raised-button color="primary" cdkStepperNext>
        Go To Next 
    </button>
</div>

