<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    
    <span>CWDB || Project Management Information System</span>
    <span class="spacer"></span>
    <button mat-raised-button class="button-row" routerLink="/login" aria-label="Login">Login</button>    
    <button mat-raised-button class="button-row" routerLink="/signup" aria-label="Sign up">Sign up</button>    
</mat-toolbar>