<form class="example-form"><br>
    <h1 class="text-center">Principal Investigator Details</h1>
    <!-- {{ piInformation | json }} -->
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="piInformation.name" name="name" placeholder="name">
                </mat-form-field>
            </td>   
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Designation</mat-label>
                    <input matInput [(ngModel)]="piInformation.desination" name="desination" placeholder="Designation">
                </mat-form-field>
            </td> 
        </tr> 
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Qualifications</mat-label>
                    <input matInput [(ngModel)]="piInformation.qualification" name="qualification" placeholder="Qualifications">
                </mat-form-field>
            </td>   
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Institution</mat-label>
                    <input matInput [(ngModel)]="piInformation.institution" name="institution" placeholder="Institution">
                </mat-form-field>
            </td> 
        </tr> 
        <tr>  
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Department</mat-label>
                    <input matInput [(ngModel)]="piInformation.department" name="department" placeholder="Institution">
                </mat-form-field>
            </td> 
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select matInput [(ngModel)]="piInformation.gender" name="gender" placeholder="Select" class="example-full-width">
                        <mat-option  value="Male">Male</mat-option>
                        <mat-option  value="Female">Female</mat-option>
                        <mat-option  value="Others">Others</mat-option>
                   </mat-select>
               </mat-form-field>
            </td>   
            
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="piInformation.email" name="email" placeholder="Email">
                </mat-form-field>
            </td> 
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Mobile</mat-label>
                    <input matInput [(ngModel)]="piInformation.mobile" name="mobile" placeholder="Mobile">
                </mat-form-field>
            </td> 
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" [(ngModel)]="piInformation.dataOfBirth" name="dataOfBirth"  placeholder="Date of Birth">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </td>
            <td> 
                <mat-form-field class="example-full-width">
                    <textarea matInput [(ngModel)]="piInformation.address" name="address" placeholder="Address"></textarea>
                </mat-form-field>
            </td> 
        </tr>
    </table>
</form>

<div class="container text-center">
    <button class="button-row" mat-raised-button color="primary" cdkStepperPrevious>
        Go To Previous
    </button>
    <button class="button-row" mat-raised-button color="accent">
        Save as Draft
    </button>
    <button class="button-row" mat-raised-button color="primary" cdkStepperNext (click)="onSave()">
        Go To Next
    </button>
</div>
