<mat-card *ngIf="user">
  <h1>Your Profile Details</h1>
  <!-- {{ user | json }} -->
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img src="../../../assets/defaultProfile.PNG" alt="" class="profile-image" />
          <h1 class="mt20">{{ user.name }} </h1>
          <button class="" mat-button color="primary" (click)="changePasswordDialog()">Change Password?</button>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <!-- //table Details  -->
            <table class="table text-center">
              <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{ user.role }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>Active</td>
                <!-- <td>{{ user.enabled ? "ACTIVE" : "NOTACTIVE" }}</td> -->
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button mat-raised-button color="primary">UPDATE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>