<mat-card class="cardCenter">
  <mat-card-title>
    <img class="center" src="assets/images/register.png" alt="login-icon">
    <p class="form-center">Register here!</p>
  </mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider> <br>
    <form class="form-center" (ngSubmit)="onSubmit()">
      <mat-form-field class="input-field">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter name" [(ngModel)]="user.name" name="name">
      </mat-form-field><br>
      <!-- {{ myForm.value | json }} <br> -->
      <mat-form-field class="input-field">
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="user.role" name="role">
          <mat-option value="Project PI">Project PI</mat-option>
          <mat-option value="CWDB personnel">CWDB personnel</mat-option>
        </mat-select>
      </mat-form-field><br>
      <!-- <mat-form-field class="input-field">
        <mat-label>Origin</mat-label>
        <input matInput type="text"
             placeholder="Enter origin name"
             [(ngModel)]="formData.origin" 
             name="origin" required
             [formControl]="myControl"
             [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
      </mat-form-field><br> -->
      <mat-form-field class="input-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter email" [(ngModel)]="user.username" name="email">
      </mat-form-field><br>
      <mat-form-field class="input-field">
        <mat-label>Enter Password</mat-label>
        <input matInput placeholder="Enter password" type="password" [(ngModel)]="user.password" name="password">
      </mat-form-field><br>
      <mat-form-field class="input-field">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Enter password" type="password" [(ngModel)]="user.cnf_password"
          name="cnf_password">
      </mat-form-field><br>
      <button mat-raised-button color="primary">Register</button>
      <button mat-raised-button class="button-row" type=reset color="accent">Reset</button>
    </form>
  </mat-card-content>
</mat-card>