<!-- <div>hiii
  <img style="height: 0%;width: 45%;" src="assets/images/travel-logo.jpg" alt="aa-logo">
</div> -->
<mat-card class="cardCenter">
    <mat-card-title>
      <img class="center" src="assets/images/login.png" alt="login-icon">
      <p class="form-center">Login here!</p>
    </mat-card-title>
    <mat-card-content>
    <mat-divider></mat-divider> <br>
    <form class="form-center"  #myForm ="ngForm">
      <!-- {{ myForm.value | json }} <br> -->
      <!-- <mat-form-field class="input-field">
        <mat-label>Month</mat-label>
        <mat-select [(ngModel)]="formData.month" name = "month"required>
          <mat-option value="January">January</mat-option>
          <mat-option value="February">February</mat-option>
          <mat-option value="March">March</mat-option>
          <mat-option value="April">April</mat-option>
          <mat-option value="May">May</mat-option>
          <mat-option value="June">June</mat-option>
          <mat-option value="July">July</mat-option>
          <mat-option value="August">August</mat-option>
          <mat-option value="September">September</mat-option>
          <mat-option value="October">October</mat-option>
          <mat-option value="November">November</mat-option>
          <mat-option value="December">December</mat-option>
        </mat-select>
      </mat-form-field><br> -->
      <!-- <mat-form-field class="input-field">
        <mat-label>Origin</mat-label>
        <input matInput type="text"
             placeholder="Enter origin name"
             [(ngModel)]="formData.origin" 
             name="origin" required
             [formControl]="myControl"
             [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
      </mat-form-field><br> -->
      <mat-form-field class="input-field">
        <mat-label>User name</mat-label>
        <input matInput placeholder="Enter username"  name="username" >
      </mat-form-field><br>
      <!-- <mat-form-field class="input-field">
        <mat-label>Destination</mat-label>
        <input matInput type="text"
             placeholder="Enter destination name"
             [(ngModel)]="formData.destination" 
             name="origin" required
             [formControl]="myControl"
             [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option1 of filteredOptions | async" [value]="option1">{{option1}}</mat-option>
        </mat-autocomplete>
      </mat-form-field><br> -->
      <mat-form-field class="input-field">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter password"  name="destination" >
      </mat-form-field><br>
      <button mat-raised-button color="primary" routerLink="/home">Submit</button>
      <button mat-raised-button class="button-row" type=reset  color="accent" routerLink="/">Reset</button>
    </form>
    </mat-card-content>  
  </mat-card> 
  