
<div class="container">
    <div class="row">
      <h2 class="text-center mt-4">Proposal Progress </h2>
      <form class="form-center" (ngSubmit)="onSubmit()">
      <div class="col-md-9 mx-auto">
        <mat-form-field class="input-field">
            <mat-label>Mileston</mat-label>
            <!-- <input matInput placeholder="Enter your tracking id" [(ngModel)]="trackingDetails.trackId"
              name="cnf_password" required> -->
          </mat-form-field><br>
          <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
    </div>
  </div>