<div class="container">
    <div class="row">
      <h2 class="text-center mt-4">Proposal Submission</h2>
      <div class="col-md-9 mx-auto">
        <app-stepper [linearModeSelected]="false" #appStepper>
          <!-- <cdk-step [label]="'Project Information'"> 
            <app-information></app-information>
          </cdk-step>
          <cdk-step [label]="'PI Information'">
            <app-contact></app-contact>
          </cdk-step>
          <cdk-step [label]="'Co-PI Information'">
            <app-security></app-security>
          </cdk-step>
          <cdk-step [label]="'Attachments'">
            <app-finish></app-finish>
          </cdk-step>
          <cdk-step [label]="'Review and Finish'">
            <app-finish></app-finish>
          </cdk-step> -->
        <cdk-step [label]="'Project Information'">
            <app-project-info #projectInfo></app-project-info>
        </cdk-step>
        <cdk-step [label]="'PI Information'">
            <app-principal-investigator-info #piInfo></app-principal-investigator-info>
        </cdk-step>
        <cdk-step [label]="'Co-PI Information'">
            <app-co-principal-investigator-info #coPiInfo></app-co-principal-investigator-info>
        </cdk-step>
        <cdk-step [label]="'Upload Attachments'">
            <app-upload-attachments #upload></app-upload-attachments>
        </cdk-step>
        <cdk-step [label]="'Review and Submit'">
            <app-review-submit></app-review-submit>
        </cdk-step>
        </app-stepper>
      </div>
    </div>
  </div>
  <p>
    {{projectInfo.projectInformationData| json}},
    {{piInfo.piInformation| json}},
    {{coPiInfo.coPiInformation| json}},
    {{upload.uploadAttachments| json}},
</p>